body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 70vw;
    font-size: 1rem;
    text-wrap: wrap;
    margin: auto;
    
}

li {
    list-style-type: none;
}


.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 5fr;
    text-align: center;
    height: 100%;
    
}

.container div {
}


.navigation {
    position: relative;
    right: -26px;
    margin-top: 30px;
}

.navigation-icon {
    position: relative;
    top: -30px;
    left: -30px;
    
}

.navigation.dashboard {
    position: relative;
    top: -100px;
    font-size: 28px;
}

.sidebar {
    background-color: rgb(10, 132, 181);
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    padding: 38px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.header {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 5px;
    gap: 2px;
    border-right: solid rgb(222, 224, 226) 5px;
}

.main {
    display: grid;
    background-color: rgb(222, 224, 226);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 3fr 1fr;
    padding: 5px;
    gap: 15px;
}

.projects {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 55px;
}

.projects div {
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    text-align: left;
    padding-top: 30px;
    border-left: solid rgb(255, 187, 0) 8px;
}

.right {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin-top: 55px;
}

.right div {
    border-radius: 10px;
    background-color: white;
    padding-top: 10px;
    padding: 10px;
    text-align: left;
}

.announcements {
    grid-column: 1 / 2;
}

.trending {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#your-projects {
    text-align: left;
    position: absolute;
    top: 170px;
    color: rgb(71, 70, 70);
    font-size: 24px;
    font-weight:600;
}

.search {
    display: grid;
    grid-template-columns: 1fr 13fr;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 25px;
    padding-top: 13px;
}

.search img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
}

.search input {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 30px;
    background-color: rgb(222, 224, 226);
    border: none;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: left;
    padding-left: 25px;
}

.account {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: absolute;
    top: 10px;
    right: 370px;
    gap: 15px;
    font-weight: 500;
    font-size: 20px;
}

.picture {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-top: 20px;
}

.user {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.bell {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.profile-picture {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.profile {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.menu {
    
}

.menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    margin: auto;
    top: 95px;
    gap: 30px;
    right: 350px;
}

button {
    background-color: rgb(10, 132, 181);
    height: 40px;
    width: 80px;
    border-radius: 30px;
    color: white;
    font-weight: 900;
    border: none;
}

.profile-picture img{
    border-radius: 50%;
}

.bell {
    padding-top: 10px;
}

.announcements p {
    text-decoration: underline;
}